// Custom.scss

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-custom {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(25, 135, 84);
  --bs-btn-border-color: rgb(25, 135, 84);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(21, 115, 71);
  --bs-btn-hover-border-color: rgb(20, 108, 67);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(20, 108, 67);
  --bs-btn-active-border-color: rgb(19, 101, 63);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(25, 135, 84);
  --bs-btn-disabled-border-color: rgb(25, 135, 84);
}

#pageTitle {
  background-color: $gray-800;
}

#fruitContainer {
  background-color: $teal-800;
}

#shoppingCartTitle {
  background-color: $gray-700;
}

#shoppingCartMessageContainer {
  background-color: $teal-700;
}

#shoppingCartButtonContainer {
  background-color: $teal-700;
}

#productPanelTitle {
  background-color: $gray-700;
}

#productPanel {
  background-color: $teal-600;
}

@media screen and (min-width: 1400px) {
  #customContainer {
    height: 100vh;
  }

  #pageTitle {
    height: 5vh;
  }

  #fruitContainer {
    height: 65vh;
    overflow-y: scroll;
  }

  #shoppingCartTitle {
    height: 5vh;
  }

  #shoppingCartMessageContainer {
    height: 20vh;
    overflow-y: scroll;
  }

  #shoppingCartButtonContainer {
    height: 5vh;
  }

  #productPanelTitle {
    height: 5vh;
  }

  #productPanel {
    height: 90vh;
    overflow-y: scroll;
  }
}
